@page
@model IList<EcoHouse.Storage.Entities.User>

@{
    ViewBag.Title = "Регистрация";
}
         <section class="enter start block">
            <div class="enter__container container">
               <h2 class="enter__title title">Регистрация</h2>
               <div class="content-enter__form">
                     @using (Html.BeginForm("CreateUser", "Users", FormMethod.Post)){
                        <input name="Name" placeholder="Имя" />
                        <input name="LastName" placeholder="Фамилия" />
                        <input name="Email" placeholder="Почта" />
                        <input class="phone" name="Phone" placeholder="Телефон" />
                        <input name="Login" placeholder="Логин" />
                        <input name="Password" type="password" placeholder="Пароль" />
                        <button type = "submit">Зарегистрироваться</button>
                     }
               </div>
            </div>
         </section>