@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}
<section class="error start block">
            <div class="error__container container">
               <div class="error__text text-error">
                  <div class="text-error__symbol">4</div>
                  <div class="text-error__image">
                     <picture><source srcset="/img/empty-plate.webp" type="image/webp"><img src="/img/empty-plate.png" alt="empty"></picture>
                  </div>
                  <div class="text-error__symbol">4</div>
               </div>
               <div class="text-error__empty">Такой страницы нет</div>
               <div class="text-error__link">
                  <a class="icon-home" asp-area="" asp-controller="EcoHouse" asp-action="Index">На главную</a>
               </div>
            </div>
         </section>