@{
    ViewData["Title"] = "EcoHouse";
}

         <section class="sale start block">
            <div class="sale__container container">
               <div class="sale__head head-sale">
                  <h2 class="sale__title title">Акции дня</h2>
                  <div class="head-sale__button">
                     <button class="head-sale__button-arrow slider-left icon-arrow-left"></button>
                     <button class="head-sale__button-arrow slider-right icon-arrow-right"></button>
                  </div>
               </div>
               <div class="sale__content content-sale">
                  <div class="content-sale__slider slider">
            @for (var index = 1; index < 12; index++) {
                     <div class="slider__item item-slider">
                        <div class="item-slider__image">
                           <picture><source srcset="/img/dish/food1.webp" type="image/webp"><img src="/img/dish/food1.png" alt="food"></picture>
                        </div>
                        <div class="item-slider__name">Порридж с клубникой</div>
                        <div class="item-slider__price">190 ₽</div>
                        <div class="item-slider__control control-item-slider control-count">
                           <button class="control-item-slider__button sub">−</button>
                           <span class="control-item-slider__count count">0</span>
                           <button class="control-item-slider__button inc">+</button>
                        </div>
                     </div>
            }
                  </div>
               </div>
            </div>
         </section>
         <section class="choice block">
            <div class="choice__container container">
               <h2 class="choice__title title">Выберите любимый продукт, а мы подберём блюдо</h2>
               <div class="choice__content content-choice block">
            @for (var index = 1; index < 8; index++)
            {
                  <a asp-area="" asp-controller="EcoHouse" asp-action="MenuChoice" class="content-choice__item item-choice">
                     <div class="item-choice__image">
                        <picture><source srcset = "/img/content/broccoli.webp" type="image/webp"><img src = "/img/content/broccoli.png" alt="image"></picture>
                     </div>
                     <div class="item-choice__text">Брокколи</div>
                  </a>
            }
                  <a asp-area="" asp-controller="EcoHouse" asp-action="Favorite" class="content-choice__item item-choice">
                     <div class="item-choice__text icon-more">Ещё</div>
                  </a>
               </div>
               <h2 class="choice__title title">Вас могут заинтересовать наши категории блюд</h2>
               <div class="choice__content content-choice">
                  <a asp-area="" asp-controller="EcoHouse" asp-action="MenuChoice" class="content-choice__item item-choice">
                     <div class="item-choice__image">
                        <picture><source srcset="/img/content/first-dish.webp" type="image/webp"><img src="/img/content/first-dish.png" alt="first-dish"></picture>
                     </div>
                     <div class="item-choice__text">Супы</div>
                  </a>
                  <a asp-area="" asp-controller="EcoHouse" asp-action="MenuChoice" class="content-choice__item item-choice">
                     <div class="item-choice__image">
                        <picture><source srcset="/img/content/second-dish.webp" type="image/webp"><img src="/img/content/second-dish.png" alt="second-dish"></picture>
                     </div>
                     <div class="item-choice__text">Вторые блюда</div>
                  </a>
                  <a asp-area="" asp-controller="EcoHouse" asp-action="MenuChoice" class="content-choice__item item-choice">
                     <div class="item-choice__image">
                        <picture><source srcset="/img/content/salad.webp" type="image/webp"><img src="/img/content/salad.png" alt="salad"></picture>
                     </div>
                     <div class="item-choice__text">Салаты</div>
                  </a>
                  <a asp-area="" asp-controller="EcoHouse" asp-action="MenuChoice" class="content-choice__item item-choice">
                     <div class="item-choice__image">
                        <picture><source srcset="/img/content/dessert.webp" type="image/webp"><img src="/img/content/dessert.png" alt="dessert"></picture>
                     </div>
                     <div class="item-choice__text">Десерты</div>
                  </a>
               </div>
            </div>
         </section>
         <section class="sign block">
            <div class="sign__container container">
               <div class="sign__content content-sign">
                  <h2 class="content-sign__title title">Подпишитесь на наши новости</h2>
                  <form class="form sign-news">
                     <input class="email place-form" type="text" name="email" placeholder="Email">
                     <input class="custom-checkbox politic-check" type="checkbox" id="politic" name="politic"
                        value="yes">
                     <label class="label" for="politic">Я принимаю <a href="~/files/Политика конфиденциальности.docx" download>Политику конфиденциальности</a></label>
                     <input class="input" type="submit" value="Подписаться" name="submit">
                  </form>
               </div>
               <div class="sign__image">
                  <picture><source srcset="/img/sign/news.webp" type="image/webp"><img src="/img/sign/news.png" alt="news"></picture>
               </div>
            </div>
         </section>
         <section class="work block">
            <div class="work__container container">
               <h2 class="work__title title">Где мы работаем</h2>
               <div class="work__content content-work">
                  <picture><source srcset="/img/map/map-work.webp" type="image/webp"><img src="/img/map/map-work.png" alt="map"></picture>
                  <ul class="content-work__list">
                     <li>МОСКВА</li>
                     <li>САНКТ-ПЕТЕРБУРГ</li>
                     <li>НИЖНИЙ НОВГОРОД</li>
                     <li>КАЗАНЬ</li>
                     <li>ТУЛА</li>
                     <li>КРАСНОЯРСК</li>
                     <li>ВЛАДИВОСТОК</li>
                  </ul>
               </div>
            </div>
         </section>
